<div>
  <md-input-container class="md-block">
    <label>Search YouTube</label>
    <input required type="text" name="search" ng-model="query">
    <md-button class="md-raised" ng-click="$ctrl.searchYoutube(query)">Search</md-button>
    <md-button class="md-raised" ng-click="$ctrl.clearSearch()">Clear</md-button>
  </md-input-container>
</div>

<div layout="row" ng-if="$ctrl.results.length > 0" layout-wrap layout-margin>
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch flex="30" ng-repeat="song in $ctrl.results">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{::song.snippet.title}}</span>
        <span class="md-subhead">Channel : {{::song.snippet.channelTitle}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media"><img ng-src="{{::song.snippet.thumbnails.default.url}}" /></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-primary md-raised" ng-click="$ctrl.showAdvanced($event, song)">Add Song</md-button>
    </md-card-actions>
  </md-card>
</div>