#mainToolbar img {
  margin-right: 10px;
  width: 50px;
}

#playerCtrl {
  background-color: rgba(0, 0, 0, 0) !important;
}

#bottomToolbar {
  position: fixed;
  bottom: 0;
}

#bottomToolbar md-icon {
  cursor: pointer;
}

#playerToggle {
  background-color: rgba(0, 0, 0, 0) !important;
}