<p>
  <mat-card>
    <h1>This is search !</h1>

    <form *ngIf="this.authenticated === true" class="example-form" (ngSubmit)="onSubmit({query:query.value, comment:comment.value, select:select.value})">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="search" #query>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment" #comment></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Category" #select>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
    <button type="submit" mat-raised-button color="primary" (click)="nothingForNow()">Authorization Code Flow Authentication</button>
    <button type="submit" mat-raised-button color="primary" (click)="nothingForNow()">Client Credentials Flow Authentication</button>
    <button type="submit" mat-raised-button color="primary" (click)="implicitGrantFlow($event)">Implicit Grant Flow Authentication</button>
  </mat-card>
</p>