<mat-sidenav-container class="example-container" *ngIf="shouldRun">

  <mat-sidenav [fixedInViewport]="true" class="example-sidenav" #sidenav mode="over" [(opened)]="opened" (opened)="dealingWithEvents('open!')" (closed)="dealingWithEvents('close!')">
    Here will go the player and the playlist
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content">
    <h1>Here will go the listing, the results of search, the search bar, etc... in view rendered by the router</h1>
    <p>
      <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
    </p>
    <p>
      <button mat-raised-button color="primary" (click)="sidenav.toggle()">Toggle the sidenav !</button>
    </p>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
