/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

body {
    font-family: $mat-font-family;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}